:root {
  --font-color: #454a4b;
  --background-color-yellow: #c8dc17;
}

.month__grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  justify-content: center;
  text-align: center;
}
.month__header {
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #00ffff;
  margin: 1rem 15vw 1rem 15vw;
  padding: 0.5rem 0;
  color: var(--font-color);
}

.month__table {
  padding-bottom: 1rem;
  margin: 0 15vw;
}
.month__item {
  padding: 0 1rem;
  background-color: var(--background-color-yellow);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--font-color);
}

.month__result {
  display: flex;
  justify-content: right;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--font-color);
}

.month__result > p {
  background-color: var(--background-color-yellow);
  box-shadow: var(--background-color-yellow) 0px 2px 8px 0px;
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
}
