.month__container {
  display: flex;
  flex-direction: column;
  margin: 0 15vw;
  margin-bottom: 10vh;
  /* border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.month__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.month__item {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #5ECD5C;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: #5ECD5C 0px 2px 8px 0px;
}