.app__container {
  width: 100%;
}

.app__title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.grid__container {
  display: grid;
  grid-template-columns: 30vw 20vw 10vw 10vw;
  text-align: center;
  justify-content: center;
}

.grid__items {
  margin: 0;
  padding: 0.5rem 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  font-size: 1.2rem;
  font-weight: bold;
  
}

.grid__item-1 {
  grid-column-start: 1;
}
.grid__item-2 {
  grid-column-start: 2;
}
.grid__item-3 {
  grid-column-start: 3;
}
.grid__item-4 {
  grid-column-start: 4;
}